# Testing Notebook

This notebook is for development purposes and includes examples for interacting with Trino through pyhive.

In [73]:
from pyhive import trino
from typing import List
from pydantic import create_model

In [15]:
def get_conn():
    return trino.connect('localhost')
def get_cursor():
    return get_conn().cursor()

In [47]:
cursor = get_cursor()

## Database Introspection

In [48]:
# Get Schemas
def get_schemas(exclude: List[str] = None) -> List[str]:
    
    query_string = "SHOW SCHEMAS"
    cursor.execute(query_string) 
    schemas = [row[0] for row in cursor.fetchall()]
    if exclude is not None:
        schemas = [s for s in schemas if s not in exclude]
    return schemas

In [59]:
def get_tables_in_schema(schema: str, exclude: List[str] = None) -> List[str]:
    
    query_string = f"SHOW TABLES IN {schema}"
    cursor.execute(query_string) 
    tables = [row[0] for row in cursor.fetchall()]
    if exclude is not None:
        tables = [t for t in tables if t not in exclude]
    return tables

In [74]:
def get_cols_in_table(schema:str, table: str) -> dict:
    
    type_mapper = {
        'bigint':int,
        'timestamp(3)': str,
        'double': float,
        'varchar': str
    }
    
    query_string = f"DESC {schema}.{table}"
    cursor.execute(query_string)
    res = cursor.fetchall()
    col_names = [row[0] for row in res]
    col_types = [type_mapper[row[1]] for row in res]
    return dict(zip(col_names, col_types))

In [75]:
def get_schema_structure(schema:str) -> dict:
    
    schema_structure = {}
    tables = get_tables_in_schema(schema=schema)
    for table in tables:
        schema_structure[table] = get_cols_in_table(schema=schema, table=table)
    return schema_structure

In [76]:
def get_db_structure(exclude_schemas: List[str] = None) -> dict:
    
    db_structure = {}
    schemas = get_schemas(exclude = exclude_schemas)
    for schema in schemas:
        db_structure[schema] = get_schema_structure(schema=schema)
    return db_structure

In [77]:
db_structure = get_db_structure(exclude_schemas=["information_schema"])

In [78]:
db_structure

{'default': {},
 'taxi': {'trips': {'vendorid': int,
   'tpep_pickup_datetime': str,
   'tpep_dropoff_datetime': str,
   'passenger_count': float,
   'trip_distance': float,
   'pulocationid': int,
   'dolocationid': int,
   'ratecodeid': float,
   'store_and_fwd_flag': str,
   'dropoff_longitude': float,
   'dropoff_latitude': float,
   'payment_type': int,
   'fare_amount': float,
   'improvement_surcharge': float,
   'congestion_surcharge': float,
   'mta_tax': float,
   'tip_amount': float,
   'tolls_amount': float,
   'extra': float,
   'airport_fee': float,
   'total_amount': float}}}

In [81]:
def generate_api_routes_and_models(db_structure:Dict[str, dict]) ->:
    routes_and_models = {}
    for schema, tables in db_structure.items():
        if tables:
            for table, cols in tables.items():
                route = f"/{schema}/{table}"
                model_name = schema[0].upper()+schema[1:].lower()+table[0].upper()+table[1:].lower()
                model = create_model(model_name, **cols)
                routes_and_models[route] = model
    return routes_and_models

In [87]:
typ = routes_and_models["/taxi/trips"]

In [94]:
typ.__name__

'TaxiTrips'

In [68]:
# Get Data
query_string = """
SELECT * FROM taxi.trips LIMIT 10
"""

In [69]:
cursor.execute(query_string)
print("Columns:", "\n", cursor.description)
print("Data:" , "\n", cursor.fetchall())

Columns:
 [('vendorid', 'bigint', None, None, None, None, True), ('tpep_pickup_datetime', 'timestamp', None, None, None, None, True), ('tpep_dropoff_datetime', 'timestamp', None, None, None, None, True), ('passenger_count', 'double', None, None, None, None, True), ('trip_distance', 'double', None, None, None, None, True), ('pulocationid', 'bigint', None, None, None, None, True), ('dolocationid', 'bigint', None, None, None, None, True), ('ratecodeid', 'double', None, None, None, None, True), ('store_and_fwd_flag', 'varchar', None, None, None, None, True), ('dropoff_longitude', 'double', None, None, None, None, True), ('dropoff_latitude', 'double', None, None, None, None, True), ('payment_type', 'bigint', None, None, None, None, True), ('fare_amount', 'double', None, None, None, None, True), ('improvement_surcharge', 'double', None, None, None, None, True), ('congestion_surcharge', 'double', None, None, None, None, True), ('mta_tax', 'double', None, None, None, None, True), ('tip_amount', 'double', None, None, None, None, True), ('tolls_amount', 'double', None, None, None, None, True), ('extra', 'double', None, None, None, None, True), ('airport_fee', 'double', None, None, None, None, True), ('total_amount', 'double', None, None, None, None, True)]
Data:
 [(1, '2022-01-01 00:35:40.000', '2022-01-01 00:53:29.000', 2.0, 3.8, 142, 236, 1.0, 'N', None, None, 1, 14.5, 0.3, 2.5, 0.5, 3.65, 0.0, 3.0, 0.0, 21.95), (1, '2022-01-01 00:33:43.000', '2022-01-01 00:42:07.000', 1.0, 2.1, 236, 42, 1.0, 'N', None, None, 1, 8.0, 0.3, 0.0, 0.5, 4.0, 0.0, 0.5, 0.0, 13.3), (2, '2022-01-01 00:53:21.000', '2022-01-01 01:02:19.000', 1.0, 0.97, 166, 166, 1.0, 'N', None, None, 1, 7.5, 0.3, 0.0, 0.5, 1.76, 0.0, 0.5, 0.0, 10.56), (2, '2022-01-01 00:13:04.000', '2022-01-01 00:22:45.000', 1.0, 2.02, 238, 152, 1.0, 'N', None, None, 2, 9.0, 0.3, 2.5, 0.5, 0.0, 0.0, 0.5, 0.0, 12.8), (2, '2022-01-01 00:30:02.000', '2022-01-01 00:44:49.000', 1.0, 2.71, 166, 236, 1.0, 'N', None, None, 1, 12.0, 0.3, 2.5, 0.5, 2.25, 0.0, 0.5, 0.0, 18.05), (2, '2022-01-01 00:48:52.000', '2022-01-01 00:53:28.000', 1.0, 0.78, 236, 141, 1.0, 'N', None, None, 2, 5.0, 0.3, 2.5, 0.5, 0.0, 0.0, 0.5, 0.0, 8.8), (2, '2022-01-01 00:25:21.000', '2022-01-01 00:35:23.000', 1.0, 1.09, 114, 68, 1.0, 'N', None, None, 2, 8.0, 0.3, 2.5, 0.5, 0.0, 0.0, 0.5, 0.0, 11.8), (2, '2022-01-01 00:36:48.000', '2022-01-01 01:14:20.000', 1.0, 4.3, 68, 163, 1.0, 'N', None, None, 1, 23.5, 0.3, 2.5, 0.5, 3.0, 0.0, 0.5, 0.0, 30.3), (1, '2022-01-01 00:40:15.000', '2022-01-01 01:09:48.000', 1.0, 10.3, 138, 161, 1.0, 'N', None, None, 1, 33.0, 0.3, 2.5, 0.5, 13.0, 6.55, 3.0, 0.0, 56.35), (2, '2022-01-01 00:20:50.000', '2022-01-01 00:34:58.000', 1.0, 5.07, 233, 87, 1.0, 'N', None, None, 1, 17.0, 0.3, 2.5, 0.5, 5.2, 0.0, 0.5, 0.0, 26.0)]