# Pyspark Usage with Delta Lake & Minio

This notebook shows how to write a CSV file directly to Minio, and also how to write and read a managed Delta Lake table in Minio.

Click the Table of Contents button in the left JupyterLab sidebar (the button on the far left of this browser window that looks like a bulleted list) to see the types of examples provided. **Make sure to run all the cells above a given section, since most examples in this notebook depend on those above them**

## Get Environment Variables for Minio (S3) Connection

In [1]:
import pyspark
import os

In [2]:
os.environ 
## Should see S3_ENDPOINT, S3_ACCESS_KEY, and S3_SECRET_KEY environment varibles.
# These environment variables are set in the docker-compose.yml, and the service account used by PySpark
#> to read from and write to Minio are created by the minio-init container defined in docker-compose.yml

environ{'PATH': '/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
        'HOSTNAME': '7f4b53a5c2d3',
        'S3_ENDPOINT': 'http://minio:9000',
        'S3_BUCKET': 'test',
        'S3_ACCESS_KEY': 'sparkaccesskey',
        'S3_SECRET_KEY': 'sparksupersecretkey',
        'LANG': 'C.UTF-8',
        'GPG_KEY': 'A035C8C19219BA821ECEA86B64E628F8D684696D',
        'PYTHON_VERSION': '3.10.5',
        'PYTHON_PIP_VERSION': '22.0.4',
        'PYTHON_SETUPTOOLS_VERSION': '58.1.0',
        'PYTHON_GET_PIP_URL': 'https://github.com/pypa/get-pip/raw/6ce3639da143c5d79b44f94b04080abf2531fd6e/public/get-pip.py',
        'PYTHON_GET_PIP_SHA256': 'ba3ab8267d91fd41c58dbce08f76db99f747f716d85ce1865813842bb035524d',
        'HOME': '/root',
        'JPY_PARENT_PID': '1',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [3]:
S3_ACCESS_KEY = os.environ.get("S3_ACCESS_KEY")
S3_BUCKET = os.environ.get("S3_BUCKET")
S3_SECRET_KEY = os.environ.get("S3_SECRET_KEY")
S3_ENDPOINT = os.environ.get("S3_ENDPOINT")
# S3_ACCESS_KEY = "sparkaccesskey"
# S3_BUCKET = "test"
# S3_SECRET_KEY = "sparksupersecretkey"
# S3_ENDPOINT = "http://minio:9000"

## Configure Pyspark to Connect to Minio and Enable Delta-Lake Format

In [4]:
# This cell may take some time to run the first time, as it must download the necessary spark jars
conf = pyspark.SparkConf().setMaster("spark://spark:7077")
conf.set("spark.jars.packages", 'org.apache.hadoop:hadoop-aws:3.3.1,io.delta:delta-core_2.12:2.1.0')
# conf.set('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider')
conf.set('spark.hadoop.fs.s3a.endpoint', S3_ENDPOINT)
conf.set('spark.hadoop.fs.s3a.access.key', S3_ACCESS_KEY)
conf.set('spark.hadoop.fs.s3a.secret.key', S3_SECRET_KEY)
conf.set('spark.hadoop.fs.s3a.path.style.access', "true")
conf.set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
conf.set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

sc = pyspark.SparkContext(conf=conf)

# sc.setLogLevel("INFO")

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-182bbaae-596d-4706-a4db-1d0325fd2d2a;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.1 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.901 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
	found io.delta#delta-core_2.12;2.1.0 in central
	found io.delta#delta-storage;2.1.0 in central
	found org.antlr#antlr4-runtime;4.8 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.1/hadoop-aws-3.3.1.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.3.1!hadoop-aws.jar (100ms)
downloading https://repo1.maven.org/maven2/io/delta/delta-core_2.12/2.1.0/delta-core_2.12-2.1.0.jar ...
	[SUCCESSFUL ] io.delta#delta-core_2.12;2.1.0!delta-core_2.12.jar (285ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.11.901/aws-java-sdk-bundle-1.11.901.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.11.901!aws-java-sdk-bundle.jar (17123ms)
downloading https://repo1.maven.org/maven2/org/wildfly/openssl/wildfly-openssl/1.0.7.Final/wildfly-openssl-1.0.7.Final.jar ...
	[SUCCESSFUL ] org.wildfly.openssl#wildfly-openssl;1.0.7.Final!wildfly-openssl.jar (57ms)
downloading https://repo1.maven.org/maven2/io/delta/delta-storage/2.1.0/delta-storage-2.1.0.jar ...
	[SUCCESSFUL ] io.delta#delta-storage;2.1.0!delta-storage.jar (44ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.8/antlr4-runtime-4.8.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.8!antlr4-runtime.jar (56ms)
downloading https://repo1.maven.org/maven2/org/codehaus/jackson/jackson-core-asl/1.9.13/jackson-core-asl-1.9.13.jar ...
	[SUCCESSFUL ] org.codehaus.jackson#jackson-core-asl;1.9.13!jackson-core-asl.jar (37ms)
:: resolution report :: resolve 3817ms :: artifacts dl 17719ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 from central in [default]
	io.delta#delta-core_2.12;2.1.0 from central in [default]
	io.delta#delta-storage;2.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.8 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.1 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   7   |   7   |   7   |   0   ||   7   |   7   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-182bbaae-596d-4706-a4db-1d0325fd2d2a
	confs: [default]
	7 artifacts copied, 0 already retrieved (192837kB/282ms)

22/09/17 03:24:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
spark = pyspark.sql.SparkSession(sc)

## Read in Sample CSV Data from Local Filesystem

In [6]:
df = spark.read.option("header", "true").csv("/data/appl_stock.csv")

In [7]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

## Modify Column Types

In [9]:
for col in ["Open", "High", "Low", "Close", "Adj Close"]:
    df = df.withColumn(col,df[col].cast('double'))
for col in ["Volume"]:
    df = df.withColumn(col, df[col].cast('int'))

In [10]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

## Write CSV Directly to Minio (Not as a Delta Table)

In [11]:
df.write.csv(f"s3a://{S3_BUCKET}/appl_stock.csv", mode="overwrite")

22/09/17 03:24:20 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
22/09/17 03:24:21 WARN AbstractS3ACommitterFactory: Using standard FileOutputCommitter to commit work. This is slow and potentially unsafe.

**Navigate to http://localhost:9090 and login to the Minio Console to see the CSV file**

(username and password for minio can be found in the environment variables section of the minio service definition in the docker-compose.yml)

# Write a Delta Lake Table in Minio using Spark

In [12]:
# Have to replace spaces in column names with underscores for Delta
delta_df = df
for col in delta_df.columns:
    delta_df = delta_df.withColumnRenamed(col, col.replace(" ","_"))

In [13]:
delta_df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj_Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [14]:
delta_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj_Close: double (nullable = true)

## Create Month and Year columns for partitioning

In [15]:
from pyspark.sql.functions import month, year

In [16]:
delta_df = delta_df.withColumn("Month", month(delta_df.Date))
delta_df = delta_df.withColumn("Year", year(delta_df.Date))

In [17]:
delta_table_name = "appl_stock_delta_table"

In [18]:
delta_df.write.format("delta").partitionBy('Year','Month').option("overwriteSchema", "true").save(f"s3a://{S3_BUCKET}/{delta_table_name}", mode="overwrite")

**Navigate to http://localhost:9090 and login to the Minio Console to see the Delta Lake Table**

**Note that the Delta Lake Table includes both the data partitions and the metadata log**

(username and password for minio can be found in the environment variables section of the minio service definition in the docker-compose.yml)

# Read the Delta Table Back into Spark

In [19]:
new_delta_df = spark.read.format("delta").load(f"s3a://{S3_BUCKET}/{delta_table_name}")

In [20]:
new_delta_df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+-----+----+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj_Close|Month|Year|
+----------+------------------+------------------+------------------+------------------+---------+------------------+-----+----+
|2011-08-01|397.77999900000003|        399.500011|        392.369995|        396.749989|153209000|          51.40275|    8|2011|
|2011-08-02|        397.650009|397.90000200000003|         388.35001|        388.909996|159884900|         50.387004|    8|2011|
|2011-08-03|390.98000299999995|        393.549995|         382.23999|            392.57|183127000|         50.861193|    8|2011|
|2011-08-04|        389.410007|391.32001099999997|377.34999799999997|        377.369999|217851900|         48.891888|    8|2011|
|2011-08-05|        380.440002|        383.499992|        362.570007|        373.620007|301147700|48.406040000000004|    8|2011|
|2011-08-08|361.68998700000003|        367.769993|        353.019989|353.21000699999996|285958400|          45.76173|    8|2011|
|2011-08-09|        361.299992|374.60998900000004|        355.000008|        374.010002|270645900|         48.456568|    8|2011|
|2011-08-10|         371.14999|         374.64999|        362.499992|        363.690006|219664200|         47.119514|    8|2011|
|2011-08-11|        370.519989|        375.450008|         364.71999|        373.700008|185492300|         48.416405|    8|2011|
|2011-08-12|378.06998799999997|379.64001099999996|        374.230007|         376.98999|132244000|48.842653999999996|    8|2011|
|2011-08-15|        379.629997|        384.970013|        378.089989|        383.410004|115136000|49.674428000000006|    8|2011|
|2011-08-16|            381.52|        383.370003|        376.060009|380.48000299999995|124687500|         49.294818|    8|2011|
|2011-08-17|        382.310005|        384.519989|             378.0|        380.440002|110515300|         49.289636|    8|2011|
|2011-08-18|        370.839996|        372.649998|        361.370007|        366.050007|212858800|         47.425275|    8|2011|
|2011-08-19|        362.169998|        366.999989|        356.000004|        356.029991|193972100|         46.127086|    8|2011|
|2011-08-22|        364.509998|        364.879993|        355.089996|356.43998700000003|133828800|         46.180205|    8|2011|
|2011-08-23|        360.299995|373.64000699999997|             357.0|        373.600006|164208800|         48.403449|    8|2011|
|2011-08-24|         373.46999|        378.959995|        370.599991|376.18001200000003|156566900|         48.737713|    8|2011|
|2011-08-25|        365.079998|        375.450008|        364.999996|        373.720009|217836500|         48.418997|    8|2011|
|2011-08-26|371.16999100000004|        383.799999|        370.799995|        383.579994|160369300|         49.696452|    8|2011|
+----------+------------------+------------------+------------------+------------------+---------+------------------+-----+----+
only showing top 20 rows

## Delete Data From Delta Table

In [21]:
from delta.tables import *

In [22]:
delta_table = DeltaTable.forPath(spark, f"s3a://{S3_BUCKET}/{delta_table_name}")

In [23]:
delta_table.delete("Date < '2010-02-01'")

In [24]:
# delta_table.vacuum()

# .vacuum() is not really necessary for this example. For more info, see https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table

In [25]:
updated_df = delta_table.toDF()

In [26]:
updated_df.describe().show()
# Notice the min date due to the delete above

+-------+----------+------------------+------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+
|summary|      Date|              Open|              High|               Low|             Close|             Volume|         Adj_Close|            Month|              Year|
+-------+----------+------------------+------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+
|  count|      1743|              1743|              1743|              1743|              1743|               1743|              1743|             1743|              1743|
|   mean|      null| 314.2063570154905| 317.0524208313255|310.96767053872634| 314.0739527596099|9.307720510613884E7| 75.52596069420544|6.610441767068273|2013.0338496844522|
| stddev|      null|185.98853126511324|187.59247321328306|184.05333687045757|185.82494613123123|5.851694048954227E7|  28.2829791099516|3.395013054378821|1.9874755475272696|
|    min|2010-02-01|              90.0|         90.699997|         89.470001|         90.279999|           11475900|         24.881912|                1|              2010|
|    max|2016-12-30|        702.409988|        705.070023|        699.569977|        702.100021|          470249500|127.96609099999999|               12|              2016|
+-------+----------+------------------+------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+

## Use Time Travel to Read a Previous Version of the Delta Table

In [27]:
previous_df = spark.read.format("delta").option("versionAsOf", 0).load(f"s3a://{S3_BUCKET}/{delta_table_name}")
previous_df.describe().show()
# Notice the min date, showing that we are reading from a previous version

+-------+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+
|summary|      Date|              Open|              High|               Low|            Close|             Volume|         Adj_Close|             Month|              Year|
+-------+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+
|  count|      1762|              1762|              1762|              1762|             1762|               1762|              1762|              1762|              1762|
|   mean|      null|313.07631115891036|315.91128801645874| 309.8282405079455|312.9270656379115|9.422577587968218E7| 75.00174115607268|6.5499432463110105|2013.0011350737798|
| stddev|      null|185.29946803981548|186.89817686485782|183.38391664370968|185.1471036170944|6.020518776592716E7|28.574929721799016|3.4260339585331754| 2.001418822382117|
|    min|2010-01-04|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|                 1|              2010|
|    max|2016-12-30|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|                12|              2016|
+-------+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+

In [28]:
delta_table.history().show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|          engineInfo|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|      1|2022-09-17 03:24:52|  null|    null|   DELETE|{predicate -> ["(...|null|    null|     null|          0|  Serializable|        false|{numRemovedFiles ...|        null|Apache-Spark/3.3....|
|      0|2022-09-17 03:24:35|  null|    null|    WRITE|{mode -> Overwrit...|null|    null|     null|       null|  Serializable|        false|{numFiles -> 84, ...|        null|Apache-Spark/3.3....|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+

# Trigger Trino to Automatically Infer Schema from Delta Table and Make Data Available for End User Querying / Dashboarding

In [29]:
import requests
import json
from time import sleep

In [30]:
delta_table_name = "appl_stock_delta_table"
delta_schema_name = "my_schema"

In [31]:
# Utility function to simplify query execution against Trino REST API
def execute_trino_query(query, statement_endpoint = "http://trino:8080/v1/statement", user = "admin", password = ""):
    
    print(f"Executing query:\n{query}")
    res = requests.post(statement_endpoint,data = query.encode("UTF8"), auth=requests.auth.HTTPBasicAuth(user,password))
    
    data = []
    cols = None
    while True:
        json_res = res.json()
        state = json_res.get("stats").get("state")
        print(f"State: {state}")

        res_data = json_res.get("data")
        if res_data:
            data.extend(res_data)
        
        res_cols = json_res.get("columns")
        if res_cols:
            cols = [i["name"] for i in res_cols]
            
        next_uri = json_res.get("nextUri")
        if next_uri:
            sleep(.5)
            res = requests.get(next_uri)
        else:
            return [dict(zip(cols, d)) for d in data]

## Trigger Trino to Read Delta Table Schema

In [32]:
create_schema_statement = f"""
CREATE SCHEMA IF NOT EXISTS delta.my_schema
WITH (location = 's3a://{S3_BUCKET}/')
"""

create_table_statement = f"""CREATE TABLE IF NOT EXISTS delta.{delta_schema_name}.{delta_table_name} (
  dummy bigint
)
WITH (
  location = 's3a://{S3_BUCKET}/{delta_table_name}'
)
"""

In [33]:
for query in [create_schema_statement, create_table_statement]:
    print(execute_trino_query(query))

Executing query:

CREATE SCHEMA IF NOT EXISTS delta.my_schema
WITH (location = 's3a://test/')

State: QUEUED
State: QUEUED
State: QUEUED
State: QUEUED
State: FINISHED
[{'result': True}]
Executing query:
CREATE TABLE IF NOT EXISTS delta.my_schema.appl_stock_delta_table (
  dummy bigint
)
WITH (
  location = 's3a://test/appl_stock_delta_table'
)

State: QUEUED
State: QUEUED
State: QUEUED
State: FINISHED
[{'result': True}]

## Query Data from Table

In [34]:
LIMIT = 10
select_statement = f"SELECT * FROM delta.{delta_schema_name}.{delta_table_name}"
if LIMIT and type(LIMIT) == int:
    select_statement += f" LIMIT {LIMIT}"

In [35]:
data = execute_trino_query(select_statement)

Executing query:
SELECT * FROM delta.my_schema.appl_stock_delta_table LIMIT 10
State: QUEUED
State: QUEUED
State: QUEUED
State: QUEUED
State: RUNNING
State: FINISHING
State: FINISHED

In [36]:
print(data)

[{'date': '2015-06-01', 'open': 130.279999, 'high': 131.389999, 'low': 130.050003, 'close': 130.53999299999998, 'volume': 32112800, 'adj_close': 126.03511, 'month': 6, 'year': 2015}, {'date': '2013-08-01', 'open': 455.74997699999994, 'high': 456.799988, 'low': 453.259987, 'close': 456.679985, 'volume': 51562700, 'adj_close': 60.437984, 'month': 8, 'year': 2013}, {'date': '2013-05-01', 'open': 444.45999900000004, 'high': 444.929996, 'low': 434.389996, 'close': 439.29000099999996, 'volume': 126727300, 'adj_close': 57.754282999999994, 'month': 5, 'year': 2013}, {'date': '2013-09-03', 'open': 493.099991, 'high': 500.59997599999997, 'low': 487.35000599999995, 'close': 488.57999400000006, 'volume': 82982200, 'adj_close': 65.086626, 'month': 9, 'year': 2013}, {'date': '2011-07-01', 'open': 335.950012, 'high': 343.500011, 'low': 334.200012, 'close': 343.26000600000003, 'volume': 108828300, 'adj_close': 44.472612, 'month': 7, 'year': 2011}, {'date': '2010-09-01', 'open': 247.46999, 'high': 251.45998799999998, 'low': 246.280003, 'close': 250.330002, 'volume': 174259400, 'adj_close': 32.432643, 'month': 9, 'year': 2010}, {'date': '2013-08-02', 'open': 458.01000199999993, 'high': 462.85000599999995, 'low': 456.66001100000005, 'close': 462.53998600000006, 'volume': 68695900, 'adj_close': 61.213508999999995, 'month': 8, 'year': 2013}, {'date': '2013-08-05', 'open': 464.689995, 'high': 470.669998, 'low': 462.150017, 'close': 469.449997, 'volume': 79713900, 'adj_close': 62.127995, 'month': 8, 'year': 2013}, {'date': '2013-05-02', 'open': 441.779991, 'high': 448.58997300000004, 'low': 440.630005, 'close': 445.519997, 'volume': 105457100, 'adj_close': 58.573352, 'month': 5, 'year': 2013}, {'date': '2013-05-03', 'open': 451.30998200000005, 'high': 453.23002599999995, 'low': 449.149986, 'close': 449.980019, 'volume': 90325200, 'adj_close': 59.159718999999996, 'month': 5, 'year': 2013}]